// Layout
$layout-bg-color: #000;

// Header
$header-height: 100px;
$header-height-mobile: 60px;
$header-bg-color: #292D32;
$header-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$header-padding-x: 48px;
$header-title-color: #fff;

// Footer
$footer-height: 98px;
$footer-height-mobile: 60px;
$footer-bg-color: #292D32;
$footer-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
$footer-padding-x: 48px;
$footer-text-color: #fff;

// Cards
$card-bg-color: #292D32;
$poster-bg-color: #0000004D;
$text-primary-color: #fff;
$text-secondary-color: #fff;

// Labels
$success-color: #039c55;
$warning-color: #702bfe;
$danger-color: #ff4d4d;
$info-color: #2c81fb;
$highlight-color: #702bfe;